In [1]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    0.020552
   2   -0.564240
   3   -0.318076
b  1   -0.021823
   2    0.108084
c  3    1.116967
   1   -1.525477
d  2    0.564621
   3   -0.671179
dtype: float64

In [2]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [3]:
data['a']

1    0.020552
2   -0.564240
3   -0.318076
dtype: float64

In [4]:
#2維堆疊資料
data

a  1    0.020552
   2   -0.564240
   3   -0.318076
b  1   -0.021823
   2    0.108084
c  3    1.116967
   1   -1.525477
d  2    0.564621
   3   -0.671179
dtype: float64

In [5]:
#2維,表格資料
data.unstack()

          1         2         3
a  0.020552 -0.564240 -0.318076
b -0.021823  0.108084       NaN
c -1.525477       NaN  1.116967
d       NaN  0.564621 -0.671179

In [6]:
data.index.names = ['分類','數值']
data

分類  數值
a   1     0.020552
    2    -0.564240
    3    -0.318076
b   1    -0.021823
    2     0.108084
c   3     1.116967
    1    -1.525477
d   2     0.564621
    3    -0.671179
dtype: float64

In [7]:
data.unstack(level='分類')

分類         a         b         c         d
數值
1   0.020552 -0.021823 -1.525477       NaN
2  -0.564240  0.108084       NaN  0.564621
3  -0.318076       NaN  1.116967 -0.671179

In [8]:
data.unstack(level='數值')

數值         1         2         3
分類
a   0.020552 -0.564240 -0.318076
b  -0.021823  0.108084       NaN
c  -1.525477       NaN  1.116967
d        NaN  0.564621 -0.671179